{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Create a book review</title>
    <link rel="stylesheet" href="{% static "book-review.css" %}"">
</head>

<body>
    <header>
        <div>My Book Reviews</div>
        <nav>
            <a href="{% url "reviews_list" %}">Back to list</a>
        </nav>
    </header>
    <main>
        <div class="book-review-form">
            <form method="post">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                      <button>Submit</button>
                    </div>
                  </form>
            </form>
        </div>
    </main>
</body>
<footer>
    <div>Copyright 2022 by Liam Cahill</div>
    <p>Here is the webpage you will be creating your own book review! Get after it!</p>
</footer>

</html>