{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>
        Book Review
    </title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url "create_review" %}">Create a review</a>
        </nav>
    </header>

    <main>
        {% for review in reviews %}
        <div class="main-page-book-review">
            <img class="book cover" src="{{ review.cover_image }}">

            <h2 class="Book title">
                <a href="{% url "review_detail" review.id %}">{{ review.title }}</a>
            </h2>
            <div class="book-rating">{{ review.rating }} stars</div>
            <div class="book-authors">{{ review.authors }}</div>
            <h3>Summary</h3>
            <p>
                {{ review.summary }}
            </p>
        </div>
        {% endfor %}
        
    </main>
</body>
<footer>
    <div>Copyright 2022 by Liam Cahill</div>
    <p> Welcome to my webpage! This is a collection of all my book reviews, enjoy!</p>
</footer>

</html>