html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

header {
    padding: 12px;

}

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
}

main {
    max-width: 800px;
    margin: auto;
}

.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
}

.book-cover {
    width: 200px;
    height: auto;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;

}

nav {
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

footer {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
}

.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
}


.book-cover {
    display: grid;
    padding: 24px;
    grid-column-start: 1 5;

}